.k-banner {
    display: flex;
    flex-direction: column;
    height: 11.1rem;
    position: relative;
    margin-top: 1.6rem;
}

.k-banner-cover {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.k-banner-img {
    border-radius: 1rem;
    height: 100%;
}

.k-banner-title {
    color: #FFF;
    font-size: 2.4rem;
    position: absolute;
    margin-left: 1.6rem;
    width: 65%;
    top: 50%;
    transform: translate(0, -50%);
} 

@media screen and (min-width: 700px) {
    .k-banner {
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 22.3rem;
        position: relative;
        margin-top: 6.3rem;
    }
    
    .k-banner-cover {
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 2.5rem;
    }
    
    .k-banner-img {
        border-radius: 2.5rem;
        height: 100%;
    }
    
    .k-banner-title {
        color: #FFF;
        font-size: 4.8rem;
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    } 
}