.k-card {
    width: 100%;
    height: 25.5rem;
    position: relative;
}

.k-card-cover {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.k-card-img {
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
}

.k-card-title {
    color: #FFF;
    font-size: 1.8rem;
    position: absolute;
    left: 2rem;
    bottom: 1.5rem;
    width: 60%;
} 

@media screen and (min-width: 700px) {
    .k-card {
        width: 30%;
        height: 34rem;
    }
    
    .k-card-title {
        bottom: 2rem;
        width: 50%;
    } 
}