.k-dropdown-button {
    background: #FF6060;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    border-radius: .5rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    height: 3.0rem;
}

.k-dropdown-chevron {
    width: 1.5rem;
    height: .9rem;
}

.k-dropdown-content {
    background: #F6F6F6;
    border-radius: .5rem;
    font-weight: 400;
    margin-top: -.6rem;
    padding: 2.3rem 1.1rem 1.1rem 1.1rem;
}

@media screen and (min-width: 700px) {
    .k-dropdown-button {
        padding-left: 1.8rem;
        padding-right: 1.8rem;
        height: 4.7rem;
    }

    .k-dropdown-chevron {
        width: 2.4rem;
        height: 1.4rem;
    }
    
    .k-dropdown-content {
        margin-top: -.9rem;
        padding: 3.6rem 1.8rem 1.8rem 1.8rem;
    }
    
}