header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.k-logo {
    width: 14.5rem;
    height: 4.7rem;
}

.k-nav {
    display: flex;
    column-gap: 1rem;
}

.k-nav-link {
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media screen and (min-width: 700px) {
    .k-logo {
        width: 21rem;
        height: 6.8rem;
    }

    .k-nav {
        column-gap: 5.7rem;
    }
       
    .k-nav-link {
        font-size: 2.4rem;
        text-transform: capitalize;
    }
}